extends head
block content
  header#header
    .container
      #logo.pull-left
        a(href='#hero')
          img(src='img/logo.png', alt='', title='')
      nav#nav-menu-container
        ul.nav-menu
          li.menu-active
            a(href='#hero') Home
          li
            a(href='#about') About Us
          li
            a(href='#services') Services
          li
            a(href='#portfolio') Portfolio
          li
            a(href='#testimonials') Testimonials
          li
            a(href='#team') Team
          li.menu-has-children
            a(href='') Drop Down
            ul
              li
                a(href='#') Drop Down 1
              li.menu-has-children
                a(href='#') Drop Down 2
                ul
                  li
                    a(href='#') Deep Drop Down 1
                  li
                    a(href='#') Deep Drop Down 2
                  li
                    a(href='#') Deep Drop Down 3
                  li
                    a(href='#') Deep Drop Down 4
                  li
                    a(href='#') Deep Drop Down 5
              li
                a(href='#') Drop Down 3
              li
                a(href='#') Drop Down 4
              li
                a(href='#') Drop Down 5
          li
            a(href='#contact') Contact Us

  section#contact
    .container.wow.fadeInUp
      .row
        .col-md-12
          h3.section-title Contact Us
          .section-title-divider
          p.section-description
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
      .row
        .col-md-12
          .form
            #sendmessage Your message has been sent. Thank you!
            #errormessage
            form.contactForm(action='', method='post', role='form')
              .form-group.col-md-6
                input#name.form-control(type='text', name='name', placeholder='Your Name', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
                .validation
              .form-group.col-md-6
                input#email.form-control(type='email', name='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
                .validation
              .form-group.col-md-6
                input#subject.form-control(type='text', name='subject', placeholder='Subject', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
                .validation
              .form-group
                textarea.form-control(name='message', rows='5', data-rule='required', data-msg='Please write something for us', placeholder='Message')
                .validation
              .text-center
                button(type='submit') Send Message
  footer#footer
    .container
      .row
        .col-md-12
          .copyright
            | © Copyright 
            strong Imperial Theme
            | . All Rights Reserved
          .credits
            | Bootstrap Templates by 
            a(href='https://bootstrapmade.com/') BootstrapMade
  a.back-to-top(href='#')
    i.fa.fa-chevron-up
  include footer.jade
