extends ../layout/base 
block content 
	section.content-header 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Create Blood Type
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				a(href='/bloodtype').pull-right.btn.btn-primary
					| Back
				br
				br
				form(role='form',method='post' action='/bloodtype/store')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| Name
									input(type='text',value='#{name}',name='name',placeholder='Enter Name', autofocus).form-control
								.form-group
									label
										| Blood Type
									input(type='text',name='blood_type',placeholder='Enter Blood Type').form-control
								.form-group
									label
										| Quantity
									input(type='number',name='quantity',placeholder='Enter Quantity',mim="0").form-control
							.box-footer
								button(type='submit').btn.btn-primary.pull-right
									| Submit